body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.calculator {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.display {
  background-color: #222222;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: right;
}

#history {
  font-size: 0.5em;
  color: #aaa;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

@media (max-width: 400px) {
  .buttons {
      grid-template-columns: repeat(2, 1fr);
  }
}
